@import url('https://fonts.googleapis.com/css?family=Alegreya SC');

body {
  font-family: 'Alegreya SC';
} 

.titlebar {
  color: white;
  background-color: black;
}

.add-character-button-div {
  padding: 30px;
  display: block;
}

/* .add-character-button {
  
} */

.add-attack-button {
  text-align: 'center'
}

.character-bar {
  border: 1px solid black;
  border-radius: 5px;
  /* margin: 15px; */
  padding: 5px;
}

.character-bar-heading {
  font-size: 24px;
}

.character-name {
  width: auto;
}

.expand-toggle {
  cursor: pointer;  
}

.add-attack {
  padding-top: 20px;
}

.attack {
  font-size: 16px;
}

.comparison {
  border: 3px solid black;
  border-radius: 5px;
  padding: 5px;
  margin-top: 25px;
  margin-bottom: 25px;
}