@import url('https://fonts.googleapis.com/css?family=Alegreya SC');

body {
  font-family: 'Alegreya SC';
  /* background-color: #47040f; */
  /* noise: 'd62020';
  density: 100;
  opacity: 100; */
} 


.titlebar {
  color: white;
  background-color: black;
}

.add-character-button-div {
  padding: 30px;
  display: block;
}

.add-attack-button {
  text-align: 'center'
}

.character-bar {
  border: 1px solid black;
  border-radius: 5px;
  /* margin: 15px; */
  padding: 5px;
}

.character-bar-heading {
  font-size: 24px;
}

/* .app > .character-bar:nth-child(odd) .character-bar-heading {
  background: white url("./assets/21-219468_sword-lostim-black-and-white-drawing-weapon-transparent-left.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 200px 30px;
}

.app > .character-bar:nth-child(even) .character-bar-heading {
  background: white url("./assets/21-219468_sword-lostim-black-and-white-drawing-weapon-transparent-right.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 200px 30px;
} */


.character-name {
  width: auto;
  overflow-wrap: break-word;
}

.expand-toggle > .row > .col > svg {
  cursor: pointer;  
}

.attack-name {
  overflow-wrap: break-word;
}

.attack-damage {
  overflow-wrap: break-word;
}

.attack-control {
  cursor: pointer;
  padding-bottom: 3px;
}

.checkbox-container input[type="checkbox"] {
  opacity: 0;
  z-index: 1;
}

.attack-control:checked {
  /* box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 0, 0, 0.25) */
}

.attack-control-checkbox-label:before {
  /* box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 255, 0, 0.25);
  background-color: black!important; */

  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 3px;
}



.svg {
  transform: translateY(50);
}

.add-attack {
  padding-top: 20px;
}

.attack {
  font-size: 16px;
}

.comparison {
  border: 3px solid black;
  border-radius: 5px;
  padding: 5px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.dummy-checkbox {
  display: inline-block;
  position: absolute;
  background-color: white;
  border: 1px solid black;
  border-radius: 2px;
  width: 13px;
  height: 13px;
  top: 4px;

}

.dummy-checkbox:hover {
  cursor: pointer;
}

.dummy-checkbox-checked {
  background-color: black;
  color: white;
  
}

.checkbox-span {
  position: absolute;
  bottom: -5px;
  left: 0.5px;
  font-family: 'Times New Roman';
  font-size: 13px;

}